body{
 
    margin:0px;
    text-align: center;
    
}
.ethic{
    background-image:linear-gradient(#c0e2d9e3,#d4daddd2,#d8e3e7f1),url(et.jpg);
   background-size:contain;
   
}
.underline-one{
    width: 50%;
    margin: 0% auto;
    text-align: justify;
   
}
.paragraph{
    width: 50%;
    margin: 0px auto;

}
ul{
   
    width: 30%;
    margin: 0% auto;
    text-align: justify;
    margin-left: 600px;
    line-height: 2;
    font-size: 25px;
   
}
ol{
    width: 30%;
    margin: 0% auto;
    text-align: justify;
    font-size: 25px;
    line-height: 2;
   
}
h2,h3{
    text-decoration: underline;
    font-size: 30px;
    font-family: 'Pattaya', sans-serif;
    font-weight: normal;
    color: #21094e;
}
.style{
    border: 1px solid black;
}
.heading-two{
    margin-top: 0%;
}
h1{
    margin-top: 0px;
    color:rgb(33, 33, 43);
}
.paragraph{
    font-size: 25px;
    line-height: 2;
    font-family: 'Dancing Script', cursive;
    color: #2c2a30;
}
h4{
    font-size: 18px;
}
img{
    height: 400px;
    width: 600px;
}
li{
    font-family: 'Dancing Script', cursive;
    color: #2c2a30;
    font-weight: 500;
}
